form .errors {
  color: #dc3545;
  font-weight: bold;
}
form label {
  font-weight: bold;
}
form .preview-image .image-item .close {
  position: absolute;
  right: 0;
  background: #fff;
  border: solid 1px rgba(0, 0, 0, 0.125);
  padding: 0.5em;
}
form .preview-image .image-item .close:hover {
  cursor: pointer;
  background: #d9e2ec;
}
form .preview-image img {
  max-width: 240px;
}
form #images-form-field .image-item .close {
  padding: 0.1em 0.25em;
}
form #images-form-field img {
  max-width: 180px;
}
form .remove-link .btn {
  padding: 0 1.5em;
  font-weight: bold;
}
form .select-options {
  border: solid 1px rgba(0, 123, 255, 0.25);
}
form .select-options .item:hover {
  background: #d9e2ec;
  cursor: pointer;
  font-weight: bold;
}
form .input.select-field {
  white-space: nowrap;
  overflow: hidden;
}
form .btn .close {
  float: left;
}
