@import "var";

.header-items {
	.link {
		padding: 1em 0;
		text-align: center;
		font-weight: bold;
		color: @white;
		.icon {
			i, svg {
				color: @white;
				font-size: 1.5em;
			}
		}
		&:hover {
			color: @main-color;
			background: @white;
			i, svg {
				color: @main-color;
			}
		}
	}
}